.chat-list {
  position: fixed;
  right: -17px;
  top: 0;
  width: 200px;
  height: auto;
  max-height: calc(100vh - 205px);
  background: white;
  padding: 4px 0 0 4px;
  border: 1px solid silver;
  margin-top: 120px;
  border-radius: 10px 0 0 10px;
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 100;
  display: none;
}

.chat-boxes
.chat-boxes-wrapper {
  pointer-events: none;
}

.chat-boxes {
  position: fixed;
  bottom: -1px;
  width: 100%;
  background: transparent;
  z-index: 1000;
}

.chat-boxes .message-form {
  display: none;
}

.chat-boxes-wrapper {
  position: absolute;
  bottom: 0;
  overflow: visible;
  width: 100%;
  padding-right: 210px;
  z-index: 101;
}

.chat-box {
  height: 300px;
  width: 250px;
  background: white;
  margin: 10px 10px 0 10px;
  float: right;
  z-index: 102;
  border: 1px solid silver;
  pointer-events: all;
  display:none;
}

.chat-box .body-outer {
  width: 100%;
  height: calc(100% - 77px);
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat-box .header,
.chat-box .body {
  width: 100%;
}

.chat-box .header {
  height: 40px;
  background: gray;
  color: white;
}

.chat-box .body {
  padding: 0 5px 5px;
}

.chat-box .footer {
  position: relative;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 45px;
}

.chat-box .footer textarea {
  width: 100%;
  border: 0px;
  border-top: 1px solid;
  margin-right: 35px;
  margin-left: 0px;
  font-size: 0.9em;
  display: block;
  font-size: 0.8em;
  resize: none;
  font-size: 100%;
  height: 100%;
}

.chat-box .footer textarea:focus {
  outline: none;
}

.message a {
  text-shadow: none !important;
}

.message.own {
  text-align: right;
  margin-left: 35px;
  margin-right: 0px;
}

.message.own a {
  color: white !important;
  text-decoration: underline !important;
}

.message .message-wrap {
  background: lightgray;
  display: inline-block;
  margin: 1px;
  border-radius: 10px;
  padding: 5px;
  word-break: break-all;
}

.message.own .message-wrap {
  background: purple;
  color: white;
}

.chat-user * {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.chat-user img {
  width: 40px;
  border-radius: 40px;
  margin-right: 10px;
}

.chat-user.logged-in img {
  border: 3px solid lightgreen;
}

.chat-user .chat-name {
  font-weight: normal;
  font-size: 0.9em;
  text-transform: capitalize;
  width: calc(100% - 50px);
}

/* Mobile */

.mobile nav[role="navigation"] {
  apointer-events: none;
}

/*
.mobile .chat-list {
  position: fixed;
  right: -17px;
  top: 0;
  width: 60px;
  height: auto;
  max-height: calc(100vh - 167px);
  background: white;
  padding: 4px 0 0 4px;
  border: 1px solid silver;
  margin-top: 120px;
  border-radius: 10px 0 0 10px;
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
}

.mobile .chat-list .chat-name {
  display: none;
}

.mobile .chat-list .chat-user * {
  margin-bottom: 4px;
}

.mobile .chat-boxes-wrapper{
  padding: 0;
  margin: 0 auto;
  z-index: 10000;
  padding-right: 50px;
}

.mobile .chat-box {
  height: calc(90vh + 1px);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
  float: none;
  z-index: 10000;
  position: relative;
}
*/

.account-info a.account-info__wrapper .account-info__trigger-icon {
  z-index: 99 !important;
}

@media (min-width: 992px) {
  .chat-list {
    display: none;
  }
}


@media (max-width: 992px) {

  .chat-list {
    position: fixed;
    right: -17px;
    top: 0;
    width: 60px;
    height: auto;
    max-height: calc(90vh - 195px);
    background: white;
    padding: 4px 0 0 4px;
    border: 1px solid silver;
    margin-top: 90px;
    border-radius: 10px 0 0 10px;
    box-sizing: content-box;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
  }

  .chat-list .chat-name {
    display: none;
  }

  .chat-list .chat-user * {
    margin-bottom: 4px;
  }

  .chat-boxes-wrapper{
    padding: 0;
    margin: 0 auto;
    z-index: 10000;
    padding-right: 50px;
  }

  .chat-box {
    height: calc(82vh + 1px);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px;
    float: none;
    z-index: 10000;
    position: relative;
  }
}
