<div id="message-{{message.twid}}" class="message {{message.classes|join(' ') }}" author="{{message.uid}}">
  <div class="message-wrap">
    <div class="message-body">
      {{message.text}}
    </div>
  </div>
</div>
